<?xml version="1.0" encoding="utf-8"?>

<test type="myftp">
    <info>
      <version>1.0</version>
      <date>2018-02-28</date>
    </info>
    <ftpserver>
      <fhost>192.168.254.220</fhost>
      <!--ftp server ip-->
      <ftpuser>ftpuser</ftpuser>
      <!-- ftpuser name -->
      <ftppw>test888</ftppw>
      <!--ftp password-->
      <source_address>192.168.100.71</source_address>
      <service_time>99999999999999999999999999</service_time>
      <!--Unit: second-->
      <dlthreadnum>1</dlthreadnum>
      <ulthreadnum>1</ulthreadnum>
      <dllocalpath>F:/TMP/1file</dllocalpath>
      <dlremotepath>/home/ftpuser/1file</dlremotepath>
      <ullocalpath>F:/TMP/autoup</ullocalpath>
      <ulremotepath>/home/ftpuser/autoup</ulremotepath>
    </ftpserver>
</test>
